:root {
  --primary: #269936;
  --white: white;
  --dark: #101130;
}

@font-face {
  font-family: normal;
  src: url("/FiraSans-Regular.ttf");
}
@font-face {
  font-family: bold;
  src: url("/FiraSans-Bold.ttf");
}

body {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: normal Arial, Helvetica, sans-serif;
}

a {
  color: var(--dark);
  text-decoration: none;
}

.bold {
  font-family: bold;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

input,
select,
textarea {
  outline: none;
  border: none;
}

input::-webkit-inner-spin-button {
  appearance: none;
}
